streamlit
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-google-genai

faiss-cpu
sentence-transformers
transformers
huggingface-hub
accelerate

torch
torchvision
torchaudio

pypdf
python-dotenv

numpy
pandas
scikit-learn

gtts
streamlit-mic-recorder
SpeechRecognition

keybert==0.9.0