streamlit
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-google-genai
faiss-cpu
sentence-transformers
transformers
torch
pypdf
python-dotenv
huggingface-hub
accelerate
numpy
pandas

# Voice Input
streamlit-mic-recorder
SpeechRecognition

# Voice Output
gtts
pydub

# Audio processing
soundfile